{% extends "base" %}
{% block content %}

<section style="background-color:lightslategray;" class="hero is-small">
    <div class="hero-body">
        <div style="width:450px" class="container has-text-centered ">
            <form id="moveform" action="/" method="post">
                <div class="columns is-mobile is-centered">
                    <div class="column is-one-quarter">
                        {% if has_prev %}
                        <button id="prev_btn" type="submit" name="directionBtn" value="prev"
                            class="button is-large has-text-left is-responsive">
                            <span class="icon">
                                <i class="fas fa-angle-double-left"></i>
                            </span>
                            <span>前へ</span>
                        </button>
                        {% endif %}
                    </div>
                    <div class="column is-one-half has-text-white">
                        <p>毎日更新！</p>
                        <button type="button" id="loading" style="display:none;"
                            class="button is-loading is-large"></button>
                    </div>
                    <div class="column is-one-quarter">
                        {% if has_next %}
                        <button id="next_btn" type="submit" name="directionBtn" value="next"
                            class="button is-large has-text-left is-responsive">
                            <span>次へ</span>
                            <span class="icon">
                                <i class="fas fa-angle-double-right"></i>
                            </span>
                        </button>
                        {% endif %}
                    </div>
                </div>
                <input type="hidden" id="" name="currentoffset" value="{{ offset }}" />
            </form>

        </div>
    </div>
</section>

<div class="column is-8 is-offset-2">
    <div class="card article">
        <div class="card-content has-text-centered has-text-black has-background-white">
            <p class="has-text-black">{{ version }}</p>
            <h1 class="title is-4 has-text-black">{{ title }}</h1>
        </div>
    </div>
</div>

{% if chatgpt | length > 1 %}
<div class="column is-8 is-offset-2">
    <div class="card article">
        <div class="card-content has-text-centered has-text-black has-background-white">
            <div class="say left">
                <p class="faceicon"><img decoding="async" src="/chatGPT.png">
                    <span class="is-size-6 has-text-black">ChatGPT</span>
                </p>
                <div class="chatting">
                    <div class="sc">
                        {% for text in chatgpt %}
                        <p class="text">{{ text }}</p>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endif %}

{% if claude | length > 1 %}
<div class="column is-8 is-offset-2">
    <div class="card article">
        <div class="card-content has-text-centered has-text-black has-background-white">
            <div class="say left">
                <p class="faceicon"><img decoding="async" src="/Claude.gif"><span
                        class="is-size-6 has-text-black">Claude</span></p>
                <div class="chatting">
                    <div class="sc">
                        {% for text in claude %}
                        <p class="text">{{ text }}</p>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endif %}

{% if gemini | length > 1 %}
<div class="column is-8 is-offset-2">
    <div class="card article">
        <div class="card-content has-text-centered has-text-black has-background-white">
            <div class="say left">
                <p class="faceicon"><img decoding="async" src="/Gemini.png"><span
                        class="is-size-6 has-text-black">Gemini</span></p>
                <div class="chatting">
                    <div class="sc">
                        {% for text in gemini %}
                        <p class="text">{{ text }}</p>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endif %}

{% if copilot | length > 1 %}
<div class="column is-8 is-offset-2">
    <div class="card article">
        <div class="card-content has-text-centered has-text-black has-background-white">
            <div class="say left">
                <p class="faceicon"><img decoding="async" src="/bing_copilot.png"><span
                        class="is-size-6 has-text-black">copilot</span></p>
                <div class="chatting">
                    <div class="sc">
                        {% for text in copilot %}
                        <p class="text">{{ text }}</p>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endif %}

{% if deepseek | length > 1 %}
<div class="column is-8 is-offset-2">
    <div class="card article">
        <div class="card-content has-text-centered has-text-black has-background-white">
            <div class="say left">
                <p class="faceicon"><img decoding="async" src="/deepseek.png"><span
                        class="is-size-6 has-text-black">copilot</span></p>
                <div class="chatting">
                    <div class="sc">
                        {% for text in deepseek %}
                        <p class="text">{{ text }}</p>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endif %}

<div class="column is-8 is-offset-2">
    <div class="card article">
        <div class="card-content has-text-black has-background-white">
            <h1 class="title is-5 has-text-black">Prompt is</h1>
            {% for text in prompt %}
            <p class="prompttext">{{ text }}</p>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock content %}